<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">                           

    <title>Movies</title>
  </head>
  <body>

    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-8">col-sm-8</div>
            <div class="col-sm-4">col-sm-4</div>
        </div>
        <div class="row">
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
        </div>
    </div> -->

    <div class="container">
        <div class="header">
          <div class="title">
            <h2>Star Wars: The Last Jedi</h2>
            <a href="#">Action & Adventure</a>
          </div>
          <div class="rate">
            <p><strong>7.4</strong> / 10</p>
          </div>
        </div>
        
        <div class="row main">
            <div class="col-sm-4 col-md-6">
                <div class="img">
                    <img src="img/star wars.JPG" alt="">
                    <div class="cost">
                      <h3>$19.00</h3>
                      <button class="btn">BUY</button>
                    </div>
                  </div>
            </div>
            <div class="col-sm-8 col-md-6">

              <div class="info">
                    <div class="about">
                      <h3>About the Movie</h3>
                      <p>
                        In Lucasfilm's Star Wars: The Last jedi, the Skywalker saga continues as 
                        the heroes of The Force Awakens join the galactic legends in an epic 
                        adventure that unlocks new mysteries of the Force and shocking revelations 
                        of the past.
                      </p>
                    </div>

                    <div class="row details">
                      <div class="col-sm">
                        <ul>
                          <h3>Actors</h3>
                          <li><a href="#">oscar isaac</a></li>
                          <li><a href="#">mark hamill</a></li>
                          <li><a href="#">daisy ridley</a></li>
                          <li><a href="#">john boyega</a></li>
                          <li><a href="#">kelly marie tran</a></li>
                        </ul>
                      </div>
                      <div class="col-sm">
                        <ul>
                          <h3>Director</h3>
                          <li><a href="#">rian johnson</a></li>
                        </ul>
                        <ul>
                          <h3>Screenwriter</h3>
                          <li><a href="#">rian johnson</a></li>
                        </ul>
                      </div>
                      <div class="col-sm">
                        <ul>
                          <h3>Producers</h3>
                          <li><a href="#">kathleen kennedy</a></li>
                          <li><a href="#">ram bergman</a></li>
                        </ul>
                      </div>
                    </div>



                    <div class="bottom">
                    <div>
                        <a href="#"><b>More</b></a>
                    </div>
                    <div>
                        <button class="watch">WATCH TRAILER <i class="fa-solid fa-play"></i></button>
                    </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>






   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>


